*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container
{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    min-height: 390px;
    width: 390px;
}

form
{
    margin: 19px 0 19px 0;
}

form select,button,input
{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;    

}
form input
{
    border: 1px solid lightgray;
    padding: 5px;
    font-size: 15px;
    height: 30px;
    padding-left: 5px;
}

.dropdown
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.select-container img
{
    max-width: 32px;
}

.select-container
{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid lightgray;

}

.dropdown i 
{
    font-size: 30px;
    margin-top: 20px;
}

.select-container select
{
    background-color: white;
    font-size: 16px;
    width: auto;

}

.msg
{
    margin: 32px 0 32px 0;
}

form button
{
    height: 50px;
    background-color: #af4d98;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
















